
/** Productos content*/
.wc-block-product-category{
   
}


.wc-block-product-category > ul {

}

/** Producto content*/
.wc-block-product-category > ul > li {
    
}

/** Titulo producto */
.wc-block-product-category > ul > li > a{
    color:rgb(114, 0, 0);
}

/** Precio del producto */
.wc-block-grid__product-price > del > span{
    color:rgb(255, 0, 0);
    font-weight: 600;
}
.wc-block-grid__product-price > del ~ ins{
    color:rgb(0, 179, 0);
    font-weight: 600;
    font-size:25px;
}


/** Buttom - añadir al carrito */
.wc-block-product-category > ul > li > div{
    
}

.wc-block-product-category > ul > li > div > a{
    background-color: rgb(102, 0, 0);
    border-top-left-radius: none;
    box-shadow: 5px 5px 5px rgb(134, 134, 134);
}

.wc-block-product-category > ul > li > div > a:hover{
    box-shadow: 3px 3px 3px rgb(134, 134, 134);
}


/** Section Productos en Ofertas*/
.wc-block-product-on-sale{
    padding-left:2%;
    padding-right:2%;
    display:flex;
    
}

.wc-block-product-on-sale > ul{
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    width:100%;
}

.wc-block-product-on-sale > ul > li{
   
}

.wc-block-product-on-sale > ul > li > a{ 
    color:rgb(114, 0, 0) ;
}


.wc-block-product-on-sale > ul > li > div > a{
    background-color: rgb(102, 0, 0);
}