/** Estilos comunes a todo woocommerce */
body{
    padding:0 !important;
    padding-left:5%;
    padding-right:5%;
}
/** Contenedor donde se muestra contenido de woocommerce */
.codebaou-hal21-theme-content-woocomerce {
    padding-left:10%;
    padding-right:10%;
}


/** Nav de navegación (Ruta), se muestra arriba en la paginas*/
.wp-block-woocommerce-breadcrumbs{
   padding-left:20px !important;
}
/** frontend nav navegacion (Ruta)*/
.woocommerce-breadcrumb{
    padding-left:20px !important;
}


/** Contenedor div del catalogo productos*/
.wp-block-woocommerce-product-collection{
    margin-top:10%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:50px;
}

/** Contenedor ul del catalogo productos */
.wp-block-woocommerce-product-template{
  padding-bottom:5%;
  padding-left:2% !important;
  padding-right:2%;
}

/**  Li contenedor de datos del producto*/
.wp-block-woocommerce-product-template > .wc-block-product{
   
    box-shadow: 2px 8px 8px 1px rgba(0, 0, 0, 0.2);
    margin-top:50px;
    max-width:400px;
    margin-top:10px;
}

.wp-block-woocommerce-product-template > .wc-block-product:hover{
    border-bottom:2px solid red;
    box-shadow: 1px 1px 1px 1px rgb(84, 84, 84);
}

.wp-block-woocommerce-product-template > .wc-block-product > h3 > a{
    display:absolute;
    z-index:1;
    top:0;
    text-decoration: none !important;
    color:black !important;
}

.wp-block-woocommerce-product-template > .wc-block-product .add_to_cart_button{
    background-color:rgb(118, 1, 1);
}


/** Image */
.wc-block-components-product-image{
    width:80%;
    margin:auto;
}


/** Bloque lista de categorias [Desplegable]*/
.wc-block-product-categories__dropdown select{
   height:40px;
   font-size:20px;
   margin-left:20px;
}

.wc-block-grid__product{
    margin-top:10px;
    padding-top:10px;
}

.wp-block-woocommerce-add-to-cart-form button{
    background-color:rgb(116, 0, 0);
}