@keyframes AnimationLoad-primaria-01-title{
    from {opacity:0}
    to {opacity:0.8}
}


.codebaou-section-primaria-01-content * {
   margin:0;
   padding:0;
}

.codebaou-section-primaria-01-content{
    display:flex;
    position:relative;
   
    overflow:hidden;
}

.codebaou-section-primaria-01-content > img{
    width:auto;
    height:auto;
    position:relative;
}

.codebaou-section-primaria-01-content > h1{
    position:absolute !important;
    top:10%;
    left:10%;
    margin:0;
    font-size:6em;
}

.codebaou-section-primaria-01-content > h2{
    position:absolute !important;
    top:50%;
    left:40%;
    margin:0;
    font-size:6em;
}

.codebaou-section-primaria-01-content > h3{
    position:absolute !important;
    top:20%;
    left:80%;
    margin:0;
    font-size:4em;
}


@media(max-width:1161px){
    .codebaou-section-primaria-01-content > h1{
       
        font-size:4em;
    }
    
    .codebaou-section-primaria-01-content > h2{
        top:60%;
        font-size:4em;
    }
    
    .codebaou-section-primaria-01-content > h3{
        top:30%;
        font-size:3em;
    }
}


@media(max-width:750px){
    .codebaou-section-primaria-01-content > h1{
        left:0;
        font-size:3em;
    }
    
    .codebaou-section-primaria-01-content > h2{
        top:60%;
        left:0;
        font-size:4em;
    }
    
    .codebaou-section-primaria-01-content > h3{
        top:40%;
        left:60%;
        font-size:3em;
    }

}


@media(max-width:554px){

    .codebaou-section-primaria-01-content > h1{
        left:0;
        font-size:2em;
    }
    
    .codebaou-section-primaria-01-content > h2{
        top:60%;
        left:0;
        font-size:2em;
    }
    
    .codebaou-section-primaria-01-content > h3{
        top:40%;
        left:80%;
        font-size:1em;
    }
}