@keyframes AnimationLoad-primaria-01-title{
    from {opacity:0}
    to {opacity:0.8}
}
.section-primaria-01 {
    padding-top:10%;
    padding-bottom:10%;
    position: relative;
    height: 800px; /* Ajusta la altura según sea necesario */
    overflow: hidden; /* Asegura que la imagen no sobresalga del contenedor */
}

.section-primaria-01 .wp-block-codebaou-hal21-codebaou-hal21-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    z-index: 1; /* Imagen en el fondo */
}

.section-primaria-01 h1,
.section-primaria-01 h2,
.section-primaria-01 p {
    position: relative;
    color: #ffffff; /* Cambia el color si es necesario para que el texto sea visible sobre la imagen */
    text-align: center;
    z-index: 2; /* Texto encima de la imagen */
    margin: 0;
    padding: 10px; /* Ajusta el espaciado según sea necesario */
    animation-name:AnimationLoad-primaria-01-title;
    animation-fill-mode: forwards;
    animation-duration: 8s;
    font-size:5rem;
}


.section-primaria-01 h1{

}

.section-primaria-01 h2{

}

.section-primaria-01 p{

}

/** Ajuste tamaños fuentes */
@media(max-width:1500px){
  
}


@media(max-width:1070px){
 
}

@media( max-width: 760px){
   
}

@media( max-width: 554px){
  
}