<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"92px"} -->
    <div style="height:92px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:heading {"textAlign":"center","fontSize":"large"} -->
    <h2 class="wp-block-heading has-text-align-center has-large-font-size">404 </h2>
    <!-- /wp:heading -->
    
    <!-- wp:heading {"textAlign":"center"} -->
    <h2 class="wp-block-heading has-text-align-center">No se hemos podido encontrar la página que estás buscando</h2>
    <!-- /wp:heading -->
    
    <!-- wp:spacer {"height":"27px"} -->
    <div style="height:27px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:site-logo {"align":"center"} /-->
    
    <!-- wp:spacer {"height":"45px"} -->
    <div style="height:45px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
    <div class="wp-block-buttons"><!-- wp:button {"textAlign":"center","style":{"color":{"background":"#770000"}}} -->
    <div class="wp-block-button"><a class="wp-block-button__link has-background has-text-align-center wp-element-button" href="/inicio/" style="background-color:#770000">Volver a la pagina</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:group -->